# Cache objects
packer_cache/

# Output dir
output/

# Iso dir
iso/

# Crash log
crash.log

# vagrant files
.vagrant/
#Vagrantfile

# For built boxes
*.box

# Otros archivos
ngrok-stable-windows-amd64.zip
ngrok.exe
packer.exe
